<div class="container">
  <h2 class="text-center">My rentals and gears</h2>
  <br>
  <div class="map-container rounded-lg">
    <div class="row">
      <div class="col w-100 map-render"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="container mb-3 border-bottom pb-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Rentals by me</h2>
      <br>
      <% if @rentals_by_me.empty? %>
        <h4 class="body-text text-center">Nothing rented so far!</h4>
      <% else %>
        <div class="row">
          <%= render "personal_rentals_card", rentals: @rentals_by_me_pc %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <h2 class="text-center">Rentals hosted by me</h2>
      <br>
      <% if @rentals_hosted_by_me.empty? %>
        <h4 class="body-text text-center">No gears rented out yet!</h4>
      <% else %>
        <div class="row">
          <%= render "personal_rentals_card", rentals: @rentals_hosted_by_me %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="container">
  <h2 class="body-text text-center">My Gears</h2>
  <br>
  <div class="container">
    <div class="row gx-5">
      <%= render "personal_gear_card", gears: @gears %>
    </div>
  </div>
</div>
