<%= simple_form_for [@gear, @rental], data: { controller: 'flatpickr' }  do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% rental.errors.attribute_names.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= form.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time'} %>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
