<%= simple_form_for @rental do |form| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% @rental.errors.attribute_names.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.input :start_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.input :end_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>

<%# <%= link_to 'cancel', rental_path(@rental, rental: { status: 'cancelled' }), class: 'btn btn-primary shrink-0 mr-4', data: { turbo_method: :patch } %>
