<% if current_user.nil? %>
  <div class="full-page">
    <div class="hero-container">
      <img class="hero-image" src="https://images.unsplash.com/photo-1611154045963-d9decc1fa2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2380&q=80" alt="">
    </div>
    <div class="hero-text-container">
      <h1 class="hero-text">Explore any place you want</h1>
      <h2 class="secondary-text">Rent the gear you need for any occasion</h2>
      <a class="button-yellow" href= <%= new_user_path %>%>Login or Get Started</a>
      <div class="scroll-container">
        <%= link_to "#section2", class:"scroll-box" do %>
          <p>Scroll Down for Gears</p>
          <%= image_tag "down-arrow.png", width: "50px", height: "50px"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="gear-container", id="section2">
  <div class="text-container">
    <h2 class="body-text">Any Gear, Anytime, Anywhere</h2>
  </div>
  <div class="d-flex justify-content-center">
    <div class="search-form-container">
      <%= turbo_frame_tag "search-form", target: "search-results" do %>
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-transparent",
            placeholder: "What are you looking for?"
          %>
          <%= submit_tag "Search", class: "button-green" %>
        <% end %>
      <% end %>
    </div>
  </div>
    <%= turbo_frame_tag "search-results" do %>
      <div class="m-5">
        <div class="row">
              <%= render "components/card", gears: @gears %>
        </div>
      </div>
    <% end %>

  <div class="d-flex align-items-center justify-content-center mb-5">
    <div class="button-green">See More</div>
  </div>
</div>
